body{
    display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40rem;
  min-width: 30rem;
  background: url("http://image.noelshack.com/fichiers/2017/51/2/1513702153-7006307-snake-minimalism-art.jpg");
  background-size: cover;
  background-position: right;
}
#score{
    background-color: lime;
    font-size: 50px;
    color: white;
    font-size: 2rem;
    font-family: "Nova Mono", monospace;
}

#level{
    background-color:lime;
    font-size: 50px;
    color: white;
    font-size: 2rem;
    font-family: "Nova Mono", monospace;
}
/* #status{
    background-color: red;
    font-size: 50px;
    color :white;
} */
.pad{
    width: 100%;
    /* height: px; */
    /* background: lightblue; */
    display: flex;
    flex : 1;
}
.pad > div{
    height: 100px;
    width: 100%;
    flex : 1;
}


